body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

div {
    width: 33.3%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.blue {
    background-color: aquamarine;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: hotpink;
}

.red {
    background-color: red;
}

.green {
    background-color: greenyellow;
}